.customer-review{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
.text-color{
    color: rgb(241, 82, 191);
    
}

@media screen and (max-width: 767px) {
    .customer-review{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
    } 
}